.buttons-container {
    display:flex;
    flex-flow: row wrap;
  }
  
  .calculation-btn {
    color: white;
    background-color: crimson;
    border: 1px solid black;
    padding: 1rem;
    width: 25%;
  }
  
  .number-btn {
    width: 25%;
    font-weight: 700;
  }
  
  .action-button {
    width: 75%;
  }
  
  .action-button:last-child {
    font-weight: 700;
  }
  
  button {
    background: white;
    border: 1px solid grey;
    color: black;
  }